# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Bases de datos
*.db
*.sqlite
*.sqlite3
instance/

# Flask
.flaskenv
env/
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tests / cobertura
.pytest_cache/
.coverage
htmlcov/